@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.App {
  text-align: center;
  height: 100vh;
}

#footer {
  position: fixed;
  bottom: 0;
  margin-bottom: 5px;
  width: 100%;
  border-top: 2px solid #f2f2f2;
}

h1 {
  font-size: 1.5em;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 90vw;
  margin: 0 auto;
  border-bottom: 2px solid #f2f2f2;
  width: 100%;
  display: flex;
  align-items: center;
}

.navbar .links {
  margin-left: auto;
  font-size: 1.25em;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #f1356d;
}

#home {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  grid-template-rows: 1fr;
  height: 100%;
}

#container {
  height: 85%;
}

#favoritesContainer {
  grid-area: 1 / 1 / 2 / 2;


}

#contentContainer {
  grid-area: 1 / 2 / 2 / 3;
  height: 80%;
  border-left: 2px solid #f2f2f2;
}

#filters {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  font-weight: bold;
  font-size: 1em;
}

#favorites {
  height: 80%;
  font-size: 1.5em;
  font-weight: bold;
}

#favoritesList {
  height: 64vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
}


